@using Microsoft.AspNetCore.Identity
@using TutoringMarket.WebIdentity.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div style="color:white;margin-top:15px;"  asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</div>
            </li>
            <li>
                <button style="margin-right:30px;"type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
