@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade bootstrapmodal">
    <div class="modal-dialog">
        <div class="modal-header">
            <div class="modal-title">My Dialog</div>
        </div>
        <div class="modal-body">
            Wollen Sie die Bewertung wirklich löschen?
        </div>
    </div>
</div>