@model TutoringMarket.WebIdentity.Models.ViewModels.TutorRequestModel
@{
    ViewData["Title"] = "Kontaktanfrage";
}

<nav class="navbar navbar-default" role="navigation" style="background-color:#313131">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="color: white;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nachhilfebörse</a>
    </div>

    <div style="margin-top: 15px;" class="collapse navbar-collapse" id="navbar-collapse-x">
        <ul class="nav navbar-nav navbar-right">
            <li data-toggle="collapse" data-target="#navbar-collapse.in">@await Html.PartialAsync("_LoginPartial")</li>
        </ul>
        <ul>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                <li style="margin-left: -15px; margin-top: -15px;"><a asp-action="AdministrationArea">Administrationsbereich</a></li>
            }
        </ul>
    </div>
</nav>


<body>
    <h1 class="page-header">Anfrage senden</h1>

    <div class="motivationNew2">
        <center>
            <h1 id="quote">
                We can't solve your Problem if you don't tell us about it.
            </h1>
        </center>
    </div> <br />

    <form asp-action="TutorRequest">

        <div class="form-group">
            <h4> Vorgefertigte Nachricht:</h4>
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @readonly=true })
            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
            @Html.TextAreaFor(m => m.Ending, new { @class = "form-control", @readonly = true })
            <input type="submit" value="Senden" />
            <input type="hidden" asp-for="@Model.Tutor.Id" />
        </div>
    </form>
</body>
