@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Nachhilfebörse</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="mycss.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--   <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script language="JavaScript">
		function schreiben() {
				var r_text = new Array ();
				r_text[0] = "When you feel like quitting think about why you started";
				r_text[1] = "You only fail when you stop trying";
				r_text[2] = "Be somebody nobody thought you could be";
				r_text[3] = "You didn't come this far to only come this far";
				r_text[4] = "The way to get started is to quit talking and begin doing";
				r_text[5] = "Do what you can with all you have, wherever you are";
				r_text[6] = "Sometimes you win sometimes you learn";
				var i = Math.floor(7*Math.random());
				document.write(r_text[i]);
			}
    </script>

</head>

<body>


 <!--   <ul>
        <a style="color: white;" class="navbar-brand">Nachhilfebörse</a>
        <li><a href="NachhilfebörseLogIn.html" class="selected">Log In</a></li>
        <li><a href="Contact.html">Kontaktiere uns</a></li>
        <li><a href="UeberUns.html">Über uns</a></li>
    </ul>   -->

    <div class="container">

        <div id="irwos">
            <h1 id="quote"><center>
            <script type="text/javascript">schreiben()</script></h1>
        </div>

        <div id="loginFormular">
            <center><h1 class="htl" style="color: white;">Wilkommen bei der <br> Nachhilfebörse <br> HTL-Leonding</h1></center>

            <div class="anmeldename" style="width:10.5cm">
                <input type="text" placeholder="Anmeldename" class="form-control">
            </div>

            <div style="width:10.5cm">
                <input type="password" placeholder="Passwort" class="form-control">
            </div>

            <a style="text-decoration: none;" class="ghost-button" href="#">log in</a>
        </div>

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
