/*GENERAL*/

.teacherDetails {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 90%;
    height: auto;
    margin-top: 130px;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 2px;
    display: inline-block;
}

.detailsBox {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.12);
    padding-top: 5px;
    border-radius: 1px;
}


.h3border {
    padding: 0px 10px 0px 10px;
    border-bottom: 0.5px solid #505050;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.h3border2 {
    padding: 0px 10px 0px 10px;
    border-bottom: 0.7px solid #D8D8D8;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}



.ghost-button2 {
    float: right;
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
    display: inline-block;
    width: 7cm;
    padding: 8px;
    color: #000000;
    border: 1px solid #000000;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: 'school';
    font-size: 30px;
}

.ghost-button2:hover,
.ghost-button2:active {
}

/*GENERAL END*/
/*LOGIN PAGE*/
#motivation {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-family: 'meine-schrift';
    color: white;
    border-style: solid;
    min-width: 250px;
    border-width: 2px;
    border-color: white;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    #motivation {
        display: none;
    }
}

#quote {
    line-height: 80px;
    font-size: 60px;
}

#right {
    margin-top: 10%;
}

.htl {
    font-family: 'htl';
    font-size: 35px;
    margin-bottom: 30px;
}

.ghost-button {
    background-color: transparent;
    font-size: 18px;
    border-radius: 4px;
    display: inline-block;
    width: 7cm;
    color: #FFFFFF;
    padding: 7px;
    border: 1px solid #FFFFFF;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: 'htl2';
}

.ghost-button:hover,
.ghost-button:active {
    background-color: #FFFFFF;
    color: #000000;
}	

/*LOGIN PAGE END*/

/*INDEX PAGE*/

.indexHover {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 250px;
    opacity: 0;
}
    .indexHover:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.6);
    }
.indexImage {
    position: relative;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.detailsImage {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    transform: translate(0, -50%);
}

.blankImage {
    background-image: url("../images/blank.jpg");
    position: relative;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}


.greenBack {
    background-color: #6CA6CD;
    height: 25vh;
    width: 100%;
    margin-top: -20px;
}

h1.index {
    position: absolute;
    margin: -10px 0 6px 0;
    margin-left: 15vh;
    margin-top: 6vh;
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -.02em;
    color: #fff;
}

em.index {
    font-weight: normal;
    font-style: normal;
    color: rgba(255,255,255,0.5);
}

@media screen and (max-width: 1050px) {
    .index {
        display: none;
    }
}

.teacherButton {
    border: hidden;
    float: right;
    width: 200px;
    display: block;
    margin-top: 5vh;
    margin-right: 20vh;
    padding: 15px 10px;
    font-size: 12px;
    font-family: Arial;
    color: #2e2e2e;
    line-height: 1.4;
    text-decoration: none;
    text-align: center;
    background: rgba(232, 232, 232, 0.8);
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

    .teacherButton:hover,
    .teacherButton:active {
        background-color: #FFFFFF;
    }

@media screen and (max-width: 1050px) {
    .teacherButton {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.whiteBox {
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #F5F5F5;
    height: auto;
    width: 46%;
    min-width: 300px;
    position: absolute;
    top: 28vh;
    margin-left: 15vh;
    margin-bottom: 5vh;
    text-align: center;
}

.whiteBoxIndex {
    /* border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #F5F5F5;*/
    height: auto;
    width: 80%;
    min-width: 300px;
    position: absolute;
    /* top: 28vh;
    margin-left: 15vh;
    margin-bottom: 5vh;*/
    text-align: center;
}

@media screen and (max-width: 1050px) {
    .whiteBoxIndex {
        position: relative;
        margin: 150px auto 0 auto;
    }
}

.teacher {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1px;
    background-color: #f8f8f8;
    width: 250px;
    height: auto;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 18px;
    padding-right: 5px;
    padding-bottom: 2px;
    display: inline-block;
    overflow: hidden;
}

.indexTeacherFont {
    color: #33658a;
    font-size: 13px;
    text-align: center;
}
.indexTeacherFächer {
    color: #33658a;
    display: inline-block;
    margin-bottom: 3px;
    font-size: 13px;
    border-color: transparent;
    background-color: #cee0ed;
    padding: 3px 3px 3px 3px;
}

.teacherIndex {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1px;
    text-align:left;
    background-color: #f9f9f9;
    width: 250px;
    height: 435px;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 18px;
    padding-bottom: 2px;
    display: inline-block;
    overflow: hidden;
}
@media screen and (max-width: 1050px) {
    .teacher {
        left: 50%;
        transform: translate(15%);
        margin-top: 100px;
    }
}

.h3index{
    font-size: 15px;
}

#blackFilter1 {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    background-color: #f5f5f5;
    float: right;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 1050px) {
    #blackFilter1 {
        width: 90%;
        margin: -25px 5% -100px 5%;
    }
}

#h3filterFach {
    margin: 15px 0 5px 0px;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .03em;
    color: black;
    border: none;
    background: none;
}

#h3borderTutor {
    padding: 10px 10px 0px 10px;
    border-bottom: 0.5px solid #505050;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}   

@media screen and (min-width: 1050px) {
    #h3borderTutor {
        display: none;
    }
}


/*INDEX PAGE END*/

/*GETTUTOR PAGE*/

.imageTutor{
position: relative;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}


.motivation2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top:0;
    font-family: 'meine-schrift';
    color: black;
    border-style: solid;
    min-width: 250px;
    border-width: 1px;
    border-color: black;
    vertical-align: middle;
}

@media screen and (max-width: 620px) {
    .motivation2{
        display:none;
    }
}

@media screen and (max-width: 1050px) {
    .pmobile {
        display: none;
    }
}

#getTutorFormular {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 20px; 
    margin-bottom: 20px;
}

/*GETTUTOR PAGE END*/

/*EDITTUTORS PAGE START*/

@media screen and (max-width: 800px) {
    #edittutors {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
    /*EDITTUTORS PAGE END*/


    /*CONTACT PAGE START*/

.contact {
    width:auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.motivationNew2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'meine-schrift';
    color: black;
    border-style: solid;
    min-width: 250px;
    border-width: 1px;
    border-color: black;
    vertical-align: middle;
}
@media screen and (max-width: 620px) {
    .motivationNew2 {
        display: none;
    }
}

    /*CONTACT PAGE END*/

    .anmeldename {
        padding-bottom: 3px;
    }

    #centerformular {
        margin-left: auto;
        margin-right: auto;
    }



    .testPic {
        height: 30vh;
        width: 40vh;
    }



    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 27px;
        line-height: 20px;
    }


    @font-face {
        font-family: 'nachhilfebörse';
        src: url('Gabrielle.ttf') format('truetype');
    }

    @font-face {
        font-family: 'meine-schrift';
        src: url('Moon Flower.ttf') format('truetype');
    }

    @font-face {
        font-family: 'htl';
        src: url('htl2.ttf') format('truetype');
    }

    @font-face {
        font-family: 'htl2';
        src: url('CODE Light.otf') format('truetype');
    }

    @font-face {
        font-family: 'school';
        src: url('school.ttf') format('truetype');
    }
@-webkit-keyframes backgroundScroll {
    0% {
        background-position: 0px 0px;
    }

    25% {
        background-position: 0px 15px;
    }

    50% {
        background-position: 0px 0px;
    }

    75% {
        background-position: 0px 15px;
    }

    100% {
        background-position: 0px 0px;
    }
}

#loginbackground {
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation: backgroundScroll 30s infinite;
    animation: backgroundScroll 30s infinite;
}


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
    }

    li {
        float: left;
        overflow: hidden;
    }

        li a {
            display: block;
            color: #999;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover {
                color: #DDD;
                text-decoration: none;
            }

    .selected {
        color: #FFF;
    }

    h1.page-header {
        font-family: 'Arial';
        font-size: 31px;
        text-align: center;
    }

    #profilePic {
        border-radius: 2px;
        border: 1px solid #E6E6E6;
        box-shadow: 3px 3px 3px 3px #E6E6E6;
        margin: 10px;
        width: 200px;
        height: 250px;
    }

    #profileBorder {
        border: 1px solid #E6E6E6;
        box-shadow: 5px 5px 5px 5px #E6E6E6;
        margin: 15px;
        height: 42vh;
        width: 100vh;
        border-radius: 1px;
    }

    #profileBorder2 {
        border: 1px solid #E6E6E6;
        box-shadow: 5px 5px 5px 5px #E6E6E6;
        margin: 15px;
        height: 42vh;
        width: 130vh;
        border-radius: 1px;
    }

    #profileBorder3 {
        border: 1px solid #E6E6E6;
        box-shadow: 5px 5px 5px 5px #E6E6E6;
        margin: 15px;
        height: 60vh;
        width: 43vh;
        margin-top: 20vh;
        border-radius: 1px;
    }

    .roundPic1 {
        border: 1px solid white;
        border-radius: 100%;
        width: 180px;
        height: 180px;
    }

    h3.team {
        font-size: 20px;
        color: #282828;
    }

    h4.team {
        font-size: 17px;
        text-align: center;
        color: #394d63;
    }

    h4.team1 {
        font-size: 17px;
        text-align: center;
        color: #394d63;
    }

    #team2 {
        margin-right: 150px;
    }

    #margintop {
        margin-top: 30px;
    }

    #danijalBild {
        float: left;
        margin-top: 17px;
        margin-left: 75px;
    }

    #evaBild {
        float: right;
        margin-top: 17px;
        margin-right: 75px;
    }

    #maske {
        margin-left: 50px;
    }

    #school {
        margin-top: 7px;
        height: 110px;
        width: 200px;
    }

    #school1 {
        font-family: CaeciliaLTPro-85Heavy;
        font: bold;
        font-size: 27px;
    }

    #school2 {
        margin-top: 30px;
        font-family: CaeciliaLTPro-85Heavy;
        font: bold;
        font-size: 45px;
    }

    #school3 {
        font-family: CaeciliaLTPro-85Heavy;
        font: bold;
        font-size: 45px;
    }

    #schoolText {
        color: #394d63;
        font-size: 18px;
        font-family: CaeciliaLTPro-85Heavy;
        text-decoration: none;
    }

    #newBorder {
        /*margin-left: 5px;
	#width: 1342px;
	#margin-top: 3px;
	#border-radius: 5px;*/
        background-image: url("bestBackground3.jpg");
        background-attachment: fixed;
        position: relative;
    }

    .newBorder1 {
        background-color: #f0f0f2;
        margin-left: 5px;
        width: 1342px;
        margin-top: 3px;
        border-radius: 5px;
    }

    #newBorder2 {
        background-color: white;
        border-radius: 5px;
        margin-left: 5px;
        width: 1342px;
        height: 276px;
        margin-top: 3px;
    }

    div#test2 {
        float: right;
    }


    #t1 {
        float: left;
    }

    #t2 {
        float: right;
    }

    .form-field + .form-field {
        margin-top: 25px;
    }

    .form-field label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }


    .form-field.required > label:after {
        content: "*";
        color: red;
        margin-left: 2px;
    }

    .test {
        color: rgb(128, 128, 128);
        font-size: 12px;
    }


    .form footer {
        border-top: 1px solid #eeeeee;
        margin-top: 20px;
        padding-top: 20px;
        text-align: left;
    }


.centerAnfrage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:300px
}
.form-control3 {
    background-color: #fff;
    width: 100%;
    height: 170px;
    padding: 1px 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


    .form-control2 {
        display: block;
        width: 100%;
        height: 120px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }



    .myButton {
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
        background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
        background-color: #f9f9f9;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #666666;
        font-family: Arial;
        font-size: 17px;
        padding: 5px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
    }

    .myButton {
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
        background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
        background-color: #f9f9f9;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #666666;
        font-family: Arial;
        font-size: 14px;
        padding: 5px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
    }

    .myButton {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #e3e3e3));
        background: -moz-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -webkit-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -o-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -ms-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: linear-gradient(to bottom, #f0f0f0 5%, #e3e3e3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e3e3e3',GradientType=0);
        background-color: #f0f0f0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #d4d4d4;
        display: inline-block;
        cursor: pointer;
        color: #2e2e2e;
        font-family: Arial;
        font-size: 14px;
        padding: 5px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
    }

    .myButton {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #e3e3e3));
        background: -moz-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -webkit-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -o-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -ms-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: linear-gradient(to bottom, #f0f0f0 5%, #e3e3e3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e3e3e3',GradientType=0);
        background-color: #f0f0f0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #d4d4d4;
        display: inline-block;
        cursor: pointer;
        color: #2e2e2e;
        font-family: Courier New;
        font-size: 12px;
        padding: 5px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
    }

    .myButton {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #e3e3e3));
        background: -moz-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -webkit-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -o-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: -ms-linear-gradient(top, #f0f0f0 5%, #e3e3e3 100%);
        background: linear-gradient(to bottom, #f0f0f0 5%, #e3e3e3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e3e3e3',GradientType=0);
        background-color: #f0f0f0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #d4d4d4;
        display: inline-block;
        cursor: pointer;
        color: #2e2e2e;
        font-family: Verdana;
        font-size: 12px;
        padding: 5px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
    }

        .myButton:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3e3e3), color-stop(1, #f0f0f0));
            background: -moz-linear-gradient(top, #e3e3e3 5%, #f0f0f0 100%);
            background: -webkit-linear-gradient(top, #e3e3e3 5%, #f0f0f0 100%);
            background: -o-linear-gradient(top, #e3e3e3 5%, #f0f0f0 100%);
            background: -ms-linear-gradient(top, #e3e3e3 5%, #f0f0f0 100%);
            background: linear-gradient(to bottom, #e3e3e3 5%, #f0f0f0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#f0f0f0',GradientType=0);
            background-color: #e3e3e3;
            text-decoration: none;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }






















    body {
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 20px;
    }

    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Set widths on the form inputs since otherwise they're 100% wide */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    /* Carousel */
    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

    /* Make .svg files in the carousel display properly in older browsers */
    .carousel-inner .item img[src$=".svg"] {
        width: 100%;
    }

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none
        }
    }
