@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Nachhilfebörse</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="mycss.css" rel="stylesheet">


    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <link href="starter-template.css" rel="stylesheet">


    <script language="JavaScript">
		function schreiben() {
				var r_text = new Array ();
				r_text[0] = "When you feel like quitting think about why you started";
				r_text[1] = "You only fail when you stop trying";
				r_text[2] = "Be somebody nobody thought you could be";
				r_text[3] = "You didn't come this far to only come this far";
				r_text[4] = "The way to get started is to quit talking and begin doing";
				r_text[5] = "Do what you can with all you have, wherever you are";
				r_text[6] = "Sometimes you win sometimes you learn";
				var i = Math.floor(7*Math.random());
				document.write(r_text[i]);
			}
    </script>

</head>

<body style="background-image: url('../images/bestBackground3.jpg');">

    <div class="navbar-fixed-top" style="background-color:#313131;">
        <div class="navbar-collapse collapse">
            <ul>
                <li><a style="color: white;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nachhilfebörse</a></li>
            </ul>
        </div>
    </div>

        <div class="container">

            <div id="irwos">
                <center>
                    <h1 id="quote">
                        <script type="text/javascript">schreiben()</script>
                    </h1>
                </center>
            </div>

            <div id="loginFormular">
                
                    <section>
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

                            <center><h1 class="htl" style="color: white;">Willkommen bei der <br> Nachhilfebörse <br> HTL-Leonding</h1></center>       
                            
                            <div align="center">
                                <div class="form-group">
                                        <input placeholder="Anmeldename" asp-for="UserName" class="form-control" style="width: 60vh;" />
                                </div>

                                <div class="form-group">                               
                                        <input placeholder="Passwort" asp-for="Password" class="form-control" style="width: 60vh;" />
                                </div>
                                
                                <div class="form-group">
                                    <div style="text-decoration: none;">
                                        <button type="submit" class="ghost-button">Log in</button>
                                    </div>

                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
</div>
                        </form>
                    </section>
                </div>
                </div>
            </div>

        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
